.sideMenuContainer {
  position: fixed;
  z-index: 99;
  height: 100%;
  width: 50%;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  background-color: #b673de;
}

.chevronContainer {
  display: flex;
  justify-content: flex-end;
}

.chevronLeft {
  margin: 0.6em 1em;
  color: white;
}

.itemContainer {
  padding: 1em 0.5em 1em 2em;
  color: white;
  cursor: pointer;
}

.itemContainer:hover {
  background-color: #d5bde3;
  color: #584e5e;
}

a:hover {
  text-decoration: none;
}

.activeItem {
  background-color: #d5bde3;
  border-right: 5px solid white;
}

.burguerIcon {
  position: -webkit-sticky;
  position: sticky;
  z-index: 99;
  top: 16px;
  display: flex;
  justify-content: center;
  width: 3em;
  padding: 0.5em;
  background-color: #b673de;
  color: white;
  border-radius: 10px;
  margin: 1em 0 0 1em;
}
