.sideMenuContainer {
  position: -webkit-sticky;
  position: sticky;
  height: 100vh;
  top: -1px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.sideMenuMobileContainer {
  position: fixed !important;
  z-index: 5;
}

.chevronContainer {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.chevronLeft {
  margin: 0.6em 1em;
  color: white;
}

/*------  Burger button ---------------*/
.burguerIcon {
  position: fixed;
  z-index: 3;
  top: 5em;
  display: flex;
  justify-content: center;
  width: 3em;
  height: 3em;
  padding: 0.5em;
  color: white;
  border-radius: 10px;
  margin: 2em 0 2em 1em;
}

/*------------------Item----------------------*/
.itemContainer {
  padding: 1em 0.5em 1em 2em;
  color: white;
  cursor: pointer;
}

/*.itemContainer:hover {
  background-color: #d5bde3;
  color: #584e5e;
  transition: background-color 0.3s ease;
}*/

a:hover {
  text-decoration: none;
}

.activeItem {
  border-right: 5px solid white;
}

/*.activeItem .itemContainer {
  background-color: #d5bde3;
  color: #584e5e !important;
}*/

/*------------------ Sidemenu colors ----------------------*/

.purple {
  background-color: #b673de;
  border-right: 1px solid #b673de;
}

.purpleHover:hover {
  cursor: pointer;
  color: #d5bde3;
}

.blue {
  background-color: #5c7aea;
  border-right: 1px solid #5c7aea;
}

.blueHover:hover {
  cursor: pointer;
  color: #90aacb;
}

.aquaHover:hover {
}

/*------------------ Item of sidemenu colors ----------------------*/

.itemPurpleHover:hover {
  background-color: #d5bde3;
  color: #584e5e;
  transition: background-color 0.3s ease;
}

.itemActivePurple {
  background-color: #d5bde3;
  color: #584e5e !important;
}

.itemBlueHover:hover {
  background-color: #90aacb;
  color: #11324d;
  transition: background-color 0.3s ease;
}
.itemActiveBlue {
  background-color: #90aacb;
  color: #11324d !important;
}
/*${colorClass} ${hoverClass} */
