.sideMenuContainer {
  position: -webkit-sticky;
  position: sticky;
  height: 100vh;
  top: -1px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 45%;
}

.sideMenuMobileContainer {
  position: fixed !important;
  z-index: 5;
  width: 100%;
}

.iconsContainer {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.homeIcon {
  margin: 0.6em 0 0 0.5em;
  color: white;
}

.crossIcon {
  margin: 0.6em 1em;
  color: white;
}

/*------  Burger button ---------------*/
.burguerIcon {
  position: fixed;
  z-index: 3;
  top: 6em;
  display: flex;
  justify-content: center;
  width: 3em;
  height: 3em;
  padding: 0.5em;
  color: white;
  border-radius: 10px;
  margin: 2em 0 2em 1em;
}

/*------------------Item----------------------*/
.itemContainer {
  padding: 1em 0.5em 1em 2em;
  color: white;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.activeItem {
  border-right: 5px solid white;
}

/*------------------ Sidemenu colors ----------------------*/
.aqua-bg {
  background-color: #38a3a5;
  border-right: 1px solid #38a3a5;
}

.aquaHover:hover {
  cursor: pointer;
  color: #74b49b;
}

.blue-bg {
  background-color: #6886c5;
  border-right: 1px solid #6886c5;
}

.blueHover:hover {
  cursor: pointer;
  color: #d7e9f7;
}

.purple-bg {
  background-color: #b673de;
  border-right: 1px solid #b673de;
}

.purpleHover:hover {
  cursor: pointer;
  color: #d5bde3;
}

.pink-bg {
  background-color: #e5707e; /* #ea97ad #e5707e; */
  border-right: 1px solid #d4857f;
}

.pinkHover {
  cursor: pointer;
  color: #ffe6e6;
}

/*------------------ Item of sidemenu colors ----------------------*/
.itemAquaHover:hover {
  background-color: #a7d7c5;
  color: #34626c;
  transition: background-color 0.3s ease;
}
.activeItem .itemActiveAqua {
  background-color: #a7d7c5;
  color: #34626c !important;
}

.itemBlueHover:hover {
  background-color: #d7e9f7;
  color: #11324d;
  transition: background-color 0.3s ease;
}
.activeItem .itemActiveBlue {
  background-color: #d7e9f7;
  color: #11324d !important;
}

.itemPurpleHover:hover {
  background-color: #d5bde3;
  color: #584e5e;
  transition: background-color 0.3s ease;
}

.activeItem .itemActivePurple {
  background-color: #d5bde3;
  color: #584e5e !important;
}

.itemPinkHover:hover {
  background-color: #ffe6e6;
  color: #a9333a;
  transition: background-color 0.3s ease;
}

.activeItem .itemActivePink {
  background-color: #ffe6e6;
  color: #a9333a !important;
}
