/*titles opt-1
font-family: 'Cardo', serif;
titles opt-2
font-family: 'Cormorant', serif;
titles opt-3
font-family: 'Alice', serif;
titles opt-4
font-family: 'Libre Baskerville', serif;
titles opt-5
font-family: 'Suravaram', serif;

content opt-1
font-family: 'Darker Grotesque', sans-serif;
content opt-2
font-family: 'Cormorant Garamond', serif;
content opt-3
font-family: 'Spartan', sans-serif;
*/

body {
  background-color: #f6f6f6; /*f6f6f6 fffafa fcf9f4 f6f5f5 eeeeee*/
  padding-bottom: 60px;
}

hr{
  border: 0;
  border-bottom: 1px solid #929aab;
  height: 0;
  width: 90%;
}

/*********************** Header ************************/
.header{
  margin-bottom: 20px;
  overflow: hidden;
}
/*
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  What does this have of RESPONSIVE?
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/
.responsiveLogo {
  height: auto;
  max-width: 80px;
  margin-top: 20px;
  width: 100%;
}

.set-left {
  float: left;
  margin-left: 10px;
}
.set-right {
  float: right;
  margin-right: 25px;
}
/*******************************************************/

/*********************** Footer ************************/
.footer{
  background-color: #393e46;/*1b1c25 222831 #373a40 #393e46 30475e*/
  color: #eeeeee;
  font-family: 'Nunito Sans', sans-serif;/*Noto Sans KR*/
  font-size: .8rem;
  font-weight: 300;
  padding: 1.5rem;
  text-align: center;
}

.footer-para{
  margin: 4px;
}
/*******************************************************/

/*******************Welcome page***********************/
.welcome-content {
  margin-top: 100px;
  margin-left: 15px;
  padding: 5px;
}
/******************************************************/

/*******************Content Page***********************/
.card-subunit {
  background: #565bc4;
  border-radius: 7px;
  box-shadow: 0 2px 6px #073b4c;
  color: #fffafa;
  padding: 5px;
  width: 250px;
  margin: 5px auto 45px;
  text-align: center;
}

.card-unit {
  /*background: #ec341e; */
  border-radius: 7px;
  box-shadow: 0 2px 7px #073b4c; /*035aa6*/
  padding: 10px;
  width: 250px;
  margin: 10px auto 5px;
  text-align: center;
}

.carouselItem {
  padding: 5%;
}

.subunit-text {
  font-family: "Raleway", sans-serif;
  font-size: 21px;
  font-weight: 100;
}

.title-text {
  color: #120136; /*162447 1a1a2e 1b262c 1d1b38*/
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1rem; /*font-family: "Suravaram", serif;*/
}

.unit-text {
  color: #ededee; /*073b4c*/
  font-family: "Raleway", sans-serif; /*font-family: "Cormorant Garamond", serif;*/
  font-weight: 100;
  font-size: 35px;
}
/******************************************************/

/*******************General purpose*********************/
.blue-text {
  color: #120136; /*073b4c*/
}

.content-text {
  color: #011f3f; /*120136 062743 071e3d 0c084c 222831 010a43*/
  font-family: "Spartan", sans-serif;
  font-size: 18px;
  /*font-family: 'Darker Grotesque', sans-serif;
  font-size: 22px;
  font-weight: 500;*/
}

.poli-title{
  color: #073b4c;
  font-family: "Raleway", sans-serif; /*font-family: "Cormorant Garamond", serif;*/
  font-weight: 400;
  font-size: 2.5rem;
}

/*---------------Colors------------*/
.blue {
  background: #41b9e3;
}

.red {
  background: #de4c3c;
}

.yellow {
  background: #ecb146;
}
/*---------------Colors------------*/
/*******************************************************/