body {
  background-color: #f6f6f6; /*f6f6f6 fffafa fcf9f4 f6f5f5 eeeeee*/
  padding-bottom: 60px;
}

hr{
  border: 0;
  border-bottom: 1px solid #929aab;
  height: 0;
  width: 90%;
}

/*********************** Header ************************/
.header{
  margin-bottom: 20px;
  overflow: hidden;
}
.responsiveLogo {
  height: auto;
  max-width: 80px;
  margin-top: 20px;
  width: 100%;
}

.set-left {
  float: left;
  margin-left: 10px;
}
.set-right {
  float: right;
  margin-right: 25px;
}
/*******************************************************/

/*********************** Footer ************************/
.footer{
  background-color: #393e46;/*1b1c25 222831 #373a40 #393e46 30475e*/
  color: #eeeeee;
  font-family: 'Nunito Sans', sans-serif;/*Noto Sans KR*/
  font-size: .8rem;
  font-weight: 300;
  padding: 1.5rem;
  text-align: center;
}

.footer-para{
  margin: 4px;
}
/*******************************************************/


/*********************** Tab ************************/
.tab{
  height: 100px;
}
.tab-text{
  color: #ededee; /*073b4c*/
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  transform: rotate(90deg);
}
/****************************************************/

/*******************Welcome page***********************/
.content-text {
  color: #011f3f; /*120136 062743 071e3d 0c084c 222831 010a43*/
  font-family: "Spartan", sans-serif;
  font-size: 18px;
  /*font-family: 'Darker Grotesque', sans-serif;
  font-size: 22px;
  font-weight: 500;*/
}

.poli-title{
  color: #073b4c;
  font-family: "Raleway", sans-serif; /*font-family: "Cormorant Garamond", serif;*/
  font-weight: 400;
  font-size: 2.5rem;
}
.welcome-content {
  margin-top: 100px;
  margin-left: 15px;
  padding: 5px;
}
/******************************************************/

/**************General*********************************/
.big-img{
  height: auto;
  width: 40%;
}
/******************************************************/

/**************+COLORS***********/
.blue-bg{
  background: #41b9e3;
}

.red-bg {
  background: #de4c3c;
}

.yellow-bg{
  background: #ecb146;
}