* {
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6; /*f6f6f6 fffafa fcf9f4 f6f5f5 eeeeee*/
  font-family: "Spartan", sans-serif;
}

hr {
  border: 0;
  border-bottom: 1px solid #929aab;
  height: 0;
  width: 90%;
  margin-bottom: 6px;
  margin-top: 6px;
}

.primary-div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flexContainer {
  display: flex;
  align-items: flex-start;
}

/*********************** Header ************************/
.header {
  padding-bottom: 1em;
  overflow: hidden;
  border-bottom: 1px solid rgba(210, 194, 210, 0.2);
}

.responsiveLogo {
  height: auto;
  max-width: 80px;
  margin-top: 20px;
  width: 100%;
}

.set-left {
  float: left;
  margin-left: 10px;
}
.set-right {
  float: right;
  margin-right: 25px;
}
/*******************************************************/

/*********************** Footer ************************/
.footer {
  background-color: #393e46; /*1b1c25 222831 #373a40 #393e46 30475e*/
  color: #eeeeee;
  font-family: "Nunito Sans", sans-serif; /*Noto Sans KR*/
  font-size: 0.8rem;
  font-weight: 300;
  padding: 10px;
  text-align: center;
  margin-top: auto;
}

.footer-para {
  margin: 1px;
}
/*******************************************************/

/*******************Welcome page***********************/
.card-button {
  border-radius: 7px;
  box-shadow: 0 2px 7px #073b4c; /*035aa6*/
  padding: 10px;
  margin: 10px auto;
  text-align: center;
}
.card-button:hover {
  cursor: pointer;
  box-shadow: 0 2px 10px #073b4c; /*035aa6*/
}

.content-text {
  color: #011f3f; /*120136 062743 071e3d 0c084c 222831 010a43*/
  font-size: 18px;
  /*font-family: 'Darker Grotesque', sans-serif;
  font-size: 22px;
  font-weight: 500;*/
}

.enter-card {
  width: 160px;
  float: right;
  margin-right: 2rem;
}

.poli-title {
  color: #073b4c;
  font-family: "Raleway", sans-serif; /*font-family: "Cormorant Garamond", serif;*/
  font-weight: 400;
  font-size: 2.5rem;
}
.welcome-content {
  margin-top: 100px;
  margin-left: 15px;
  padding: 5px;
}
/******************************************************/

/**************General*********************************/
.text-descrip {
  /*font-family: ;*/
  font-size: 14px;
}
.bold {
  display: inline;
  font-weight: bold;
}

.center-text {
  text-align: center;
}

.v-center-content {
  display: flex;
  align-items: center;
}

.full-img {
  height: auto;
  width: 100%;
}

.full-card {
  background-color: #f7ecf6;
  border-radius: 10px;
  box-shadow: 0 2px 7px #073b4c; /*035aa6*/
  padding: 2rem;
  width: 100%;
  overflow-wrap: break-word;
}

.icon {
  margin: 0 10px;
}

.img-source {
  font-style: italic;
  font-size: 13px;
}

.inline {
  display: inline;
}

.justify-text {
  text-align: justify;
}

.literal-space {
  white-space: pre-wrap;
}

.main-card {
  border-radius: 10px;
  padding: 35px;
}

.s-b-space {
  margin-bottom: 10px;
}

.m-b-space {
  margin-bottom: 20px;
}

.m-t-space {
  margin-top: 20px;
}

.m-v-space {
  margin-top: 20px;
  margin-bottom: 20px;
}

.no-marg-bottom {
  margin-bottom: 0;
}

ol.upper-letter {
  list-style-type: upper-alpha;
}

.padding-md {
  padding: 2em;
}

.paragraph {
  display: block;
}

.information-card {
  padding: 2em 3em;
  border-radius: 1em;
  margin: 2em 0;
}
/******************************************************/

/**************+COLORS***********/
.green {
  color: green;
}

.light-blue {
  color: #41b9e3;
}

.navy {
  color: navy;
}

.light-navy {
  color: #0f52ba;
}

.dark-blue {
  color: #011f3f;
}

.red {
  color: #de4c3c;
}

.white {
  color: #fafafa;
}

.soft-grey {
  color: #9d9d9d;
}

.light-blue-bg {
  background: #41b9e3;
}

.light-navy-bg {
  background: #0f52ba;
}

.red-bg {
  background: #de4c3c;
}

.soft-blue-bg {
  background: #d7e9f7;
}

.yellow-bg {
  background: #ecb146;
}

.dark-blue-bg {
  background-color: #011f3f;
}

.purple-bg {
  background-color: #b673de;
}

.white-bg {
  background-color: #fafafa;
}
